<p>Account Login</p>

<input type="text" class="" value="" name="" placeholder="Email">
<input type="text" class="" value="" name="" placeholder="Password">

<button class="" type="submit">Sign in</button>